
<h2>Sign Up</h2>


<%= form_for @user do |f| %>
	<%= f.text_field :email %>
	<br />
	<%= f.text_field :password %>
	<br />
	<%= f.text_field :password_confirmation %>
	<br />
	<%= f.submit 'Sign Up' %>

<% end %>

<h3>About the HPP Calculator:</h3>
<p> The Hourly Pricing Program calculator is a tool that is be used to assess whether you are a good candidate for ComEds Hourly Pricing Program. The tool works by looking at your historical energy usage over the past year. It calculates the annual supply charge with a fix rate and then calculates the annual supply charge with Hourly Pricing. If the Supply charge with fixed rate is greater than the supply charge with an hourly rate then you could save money by enrolling in the program! </p>

<h3>What is ComEd’s Hourly Pricing Program?</h3>
<p>ComEd’s Hourly Pricing program is an hourly electricity pricing program for residential customers that uses ComEd’s Rate BESH to determine your monthly electricity bills. The program gives you access to hourly electricity prices that are based on the ComEd Zone PJM wholesale market prices. ComEd passes on the price of electricity at cost; you simply pay the market price.</p>

<a href="https://hourlypricing.comed.com/faqs/">Want to learn more?</a>



